@font-face {
    /* https://fonts.google.com/specimen/Ubuntu */
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(../webfonts/Ubuntu-Regular.ttf) format("truetype");
}

.font-ubuntu {
    font-family: "Ubuntu", sans-serif;
}

.pt-custom {
    padding-top: 5rem;
}

a:hover {
    color: #E50043;
}
a {
    color: #007396
}

img.homelink {
    max-height: 40px;
}

.splash {
    width: 100%;
    margin-top: -2rem;
}

.title {
    width: 80%;
    text-align: center;
    margin: 2em auto;
    padding-top: 1em;
}

.subtitle {
    text-align: center;
    margin: 1em auto;
}

.presentation {
    text-align: center;
}

.next-event {
    border-style: solid;
    border-width: 1px;
    width: 80%;
    text-align: center;
    margin: 2em auto;
    padding-top: 1em;
}

#no-future-event {
    font-style: italic;
    color: gray;
}

.logo {
    height: auto;
    width: 150px;
    margin: 0 1em 25px 25px;
}

.small-logo {
    height: auto;
    width: 64px;
    margin: 0 2em;
}

.team-member {
    margin-bottom: 1em;
}

img.member {
    margin: 0 1em;
    max-width: 150px;
    max-height: 150px;
}

a.signup {
    margin: 1em;
    background-color: #007396;
    border-color: #007396;
}
