---
layout: default
---
<img class="splash" src="images/gradient_logo.png" alt="Logo LyonJUG"/>

<div class="container">
    <div class="title">
        <h1>Bienvenue<br>au Lyon Java User Group</h1>
    </div>

    <div class="presentation">
        <p>Le LyonJUG a pour but de rassembler les utilisateurs Java de la ville de Lyon et de ses alentours.</p>

        <p>Nous organisons des conférences mensuelles ouvertes à tous et gratuites sur les technologies Java.</p>

        <p>Nous nous retrouvons ensuite autour d'un buffet en vue d'échanger nos impressions et de poursuivre la
            discussion.</p>

        <p>Pour nous contacter : <a href="mailto:team@lyonjug.org">team@lyonjug.org</a></p>
    </div>


    <div class="next-event">

        <h2>Evènement à venir :</h2>

        <p><a href="https://www.meetup.com/fr-FR/lyonjug/events/266265469/">28/11/2019 : Pourquoi Gradle ?</a></p>

    </div>


    <h2 class="subtitle">Nos sponsors</h2>

    {% include sponsors_logos.html %}

    <hr/>

    <h2 class="subtitle">Nos partenaires</h2>

    {% include partners_logos.html logo-class="logo" %}
</div>

<footer class="page-footer font-small pt-4 bg-light shadow">
    {% include copyright.html %}
</footer>