---
layout: default
---
<img class="splash" src="images/gradient_logo.png" alt="Logo LyonJUG"/>

<div class="container">
    <div class="title">
        <h1>Bienvenue<br>au Lyon Java User Group</h1>
    </div>

    <div class="presentation">
        <p>Le LyonJUG a pour but de rassembler les utilisateurs Java de la ville de Lyon et de ses alentours.</p>

        <p>Nous organisons des conférences mensuelles ouvertes à tous et gratuites sur les technologies Java.</p>

        <p>Nous nous retrouvons ensuite autour d'un buffet en vue d'échanger nos impressions et de poursuivre la
            discussion.</p>

        <p>Pour nous contacter : <a href="mailto:team@lyonjug.org">team@lyonjug.org</a></p>
    </div>


    <div class="next-event">

        <a href="/pause-covid.html">COVID-19 : Mise en pause des activités</a>

        <p id="no-future-event" hidden="hidden">Aucun évènement planifié... pour le moment ! Le LyonJUG reviendra dès que possible.</p>

    </div>


    <h2 class="subtitle">Nos sponsors</h2>

    {% include sponsors_logos.html %}

    <hr/>

    <h2 class="subtitle">Nos partenaires</h2>

    {% include partners_logos.html logo-class="logo" %}
</div>

{% include small_footer.html %}

<script>
    var elements = document.querySelectorAll('[future-date]');
    Array.prototype.forEach.call(elements, function(el, i){
        if(el.getAttribute('future-date').split('-').join('') < getCompareDate()) el.remove();
    });
    // check if some events remain
    elements = document.querySelectorAll('[future-date]');
    if(elements.length === 0) {
        document.getElementById('no-future-event').removeAttribute('hidden');
    }
</script>
