---
layout: default
---
<div class="container">
    <div class="title">
        <h1>Nos sponsors</h1>
    </div>

    {% include sponsors_logos.html %}

    <hr/>

    <div class="title">
        <h1>Nos partenaires</h1>
    </div>

    {% include partners_logos.html %}

    <hr/>

    <div class="presentation">
        <p>Vous souhaitez nous permettre de continuer à organiser nos conférences, à faire venir des speakers, et à entretenir la communauté Java lyonnaise ?</p>
        <p>Pour devenir sponsor, contactez nous à l'adresse : <a href="mailto:team@lyonjug.org">team@lyonjug.org</a></p>
    </div>

</div>
