---
layout: page
---
<div class="title">
    <h1>{{ page.date | date_to_string }} : {{ page.title }}</h1>
</div>

<p>Lieu : <a href="{{ page.address-link }}" target="_blank">{{ page.address }}</a></p>

{% capture nowunix %}{{'today' | date: '%Y-%m-%d'}}{% endcapture %}
{% capture posttime %}{{page.date | date: '%Y-%m-%d'}}{% endcapture %}

{% if nowunix <= posttime and page.meetup-event-id %}
{% include event-signup.html %}
{% else %}
<p id="no-future-event">Il n'est pas possible de s'inscrire pour cet évènement.</p>
{% endif %}

{{ content }}

{% if nowunix <= posttime and page.meetup-event-id %}
{% include event-signup.html %}
{% endif %}
