---
layout: default
---

{{ content }}

<!-- Footer -->
<footer class="footer font-small pt-4 bg-light">

    <div class="container">
        <div class="row">
            {% for sponsor in site.data.sponsors %}
            <div class="col mb-4">
                <div class="view overlay z-depth-1-half">
                    {% include sponsor.html logo-class='small-logo' logo=sponsor.logo website=sponsor.website name=sponsor.name %}
                </div>
            </div>
            {% endfor %}

            {% for partner in site.data.partners %}
            <div class="col mb-4">
                <div class="view overlay z-depth-1-half">
                    {% include sponsor.html logo-class='small-logo' logo=partner.logo website=partner.website name=partner.name %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Copyright -->
    {% include copyright.html %}
    <!-- Copyright -->

</footer>
<!-- Footer -->