---
layout: default
---

{{ content }}

<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-light shadow">

    <div class="container">
        <div class="row">
            {% if page.sponsor-1 %}
            <div class="col mb-4">
                <div class="view overlay z-depth-1-half">
                    {% include {{ page.sponsor-1 }}.html logo-class="small-logo" %}
                </div>
            </div>
            {% endif %}
            {% if page.sponsor-2 %}
            <div class="col mb-4">
                <div class="view overlay z-depth-1-half">
                    {% include {{ page.sponsor-2 }}.html logo-class="small-logo" %}
                </div>
            </div>
            {% endif %}
            {% if page.sponsor-3 %}
            <div class="col mb-4">
                <div class="view overlay z-depth-1-half">
                    {% include {{ page.sponsor-3 }}.html logo-class="small-logo" %}
                </div>
            </div>
            {% endif %}
            {% if page.partner-1 %}
            <div class="col mb-4">
                <div class="view overlay z-depth-1-half">
                    {% include {{ page.partner-1 }}.html logo-class="small-logo" %}

                </div>
            </div>
            {% endif %}
            {% if page.partner-2 %}
            <div class="col mb-4">
                <div class="view overlay z-depth-1-half">
                    {% include {{ page.partner-2 }}.html logo-class="small-logo" %}
                </div>
            </div>
            {% endif %}
            {% if page.partner-3 %}
            <div class="col mb-4">
                <div class="view overlay z-depth-1-half">
                    {% include {{ page.partner-3 }}.html logo-class="small-logo" %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Copyright -->
    {% include copyright.html %}
    <!-- Copyright -->

</footer>
<!-- Footer -->