---
layout: default
---

{{ content }}

<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-light shadow">

    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="view overlay z-depth-1-half">
                    <a href="https://www.neo-soft.fr/"><img class="small-logo" src="images/logo-neo-soft-groupe-bleu.png" alt="Logo Neo Soft"/></a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="view overlay z-depth-1-half">
                    <a href="https://fr.bonitasoft.com/"><img class="small-logo" src="images/logo-bonitasoft-color.png" alt="Logo BonitaSoft"/></a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="view overlay z-depth-1-half">
                    <a href="https://www.insa-lyon.fr/"><img class="small-logo" src="images/insa.jpg" alt="Logo INSA de Lyon"/></a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="view overlay z-depth-1-half">
                    <a href="https://www.jetbrains.com/fr-fr/idea/"><img class="small-logo img-fluid" src="images/intellijidea.png" alt="Logo IntelliJ IDEA"/></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://lyonjug.org/"> LyonJUG.org</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->