@import "@fontsource/ubuntu";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        overflow-y: scroll;
    }
}
